/**
 * This file contains overrides for the twitch chat.
 *
 * It is intended to be pasted in a Browser View inside obs studio.
 *
 * It will change the style of the twitch popup window :
 * @see https://www.twitch.tv/popout/benjilegnard/chat?popout
 * 
 */

/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  margin: 0px auto;
  overflow: hidden;
}

/* hide header and footer, and some chat text */
div.stream-chat-header[role="region"],
div.chat-input,
div[data-a-target="chat-welcome-message"],
span[data-test-selector="chat-message-separator"] {
  opacity: 0;
  height: 0;
  display: none;
}

/* remove background */
div.chat-room__content,
html.tw-root--hover body,
html.tw-root--theme-dark body,
html.tw-root--theme-light body,
html.tw-root--theme-light body .chat-room,
html body *,
html {
  background-color: transparent;
}

/** chat main text message */
span[data-test-selector="chat-line-message-body"] {
  display: block;
  background-color: white;
  color: black;
  font-size: 1.4rem;
  padding: 0.5rem;
  position: relative;
}

/** chat line username */
.chat-line__username-container {
  border-radius: 0;
  background: black;
  height: 2.5rem;
  font-size: 1.4rem;
  padding: 0.25rem;
  position: relative;
}
.chat-line__username-container::after {
  content: " ";
  display: block;
  position: absolute;
  right: -2.15rem;
  width: 0;
  border: 1.25rem solid black;
  border-color: transparent transparent black black;
  height: 0;
  top: 0;
}
